@model List<SocialMedia>

<div class="topsocial">
    @foreach (var item in Model)
    {
        <a href="@item.LinkUrl">
            <i class="@item.IconUrl" style="width:15px; height:15px"></i>
        </a>
    }
</div>