@{
	Layout = null;
}
<!DOCTYPE html>
@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<body>
	<div id="wrapper">
		<header class="market-header header">
			<div class="container-fluid">
				@await Component.InvokeAsync("_DefaultNavbarComponentPartial")
			</div>
		</header>
		@RenderBody()
		@await Component.InvokeAsync("_DefaultFooterComponentPartial")
		<div class="dmtop"></div>
	</div>
	@await Component.InvokeAsync("_DefaultScriptComponentPartial")
</body>


