@{
	Layout = null;
}
<!DOCTYPE html>
@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<body>
	<div id="wrapper">
		<header class="market-header header">
			<div class="container-fluid">
				@await Component.InvokeAsync("_DefaultNavbarComponentPartial")

				@await Component.InvokeAsync("_DefaultBannerComponentPartial")

			     @await Component.InvokeAsync("_DefaultSocialMediaComponentPartial")

			     @await Component.InvokeAsync("_CommentListByArticleIdComponentPartial")
 
				@await Component.InvokeAsync("_DefaultFooterComponentPartial")
				
				@await Component.InvokeAsync("_DefaultScriptComponentPartial")
</body>
			

